#!/bin/bash

#affectation des variables#
PROTOCOL={{ protocol }}
PORT={{ port }}
DNS=2 #ref au quad-one#
CLIENT=nabooVPN{{ ovpnNumber }}

if [[ -e /etc/debian_version ]]; then
	OS=debian
	GROUPNAME=nogroup
	RCLOCAL='/etc/rc.local'
elif [[ -e /etc/centos-release || -e /etc/redhat-release ]]; then
	OS=centos
	GROUPNAME=nobody
	RCLOCAL='/etc/rc.d/rc.local'
else
	echo "Looks like you aren't running this installer on Debian, Ubuntu or CentOS"
	exit
fi

PORT=$(grep '^port ' /etc/openvpn/server.conf | cut -d " " -f 2)
PROTOCOL=$(grep '^proto ' /etc/openvpn/server.conf | cut -d " " -f 2)
if pgrep firewalld; then
	IP=$(firewall-cmd --direct --get-rules ipv4 nat POSTROUTING | grep '\-s {{ subnet }}/24 '"'"'!'"'"' -d {{ subnet }}/24 -j SNAT --to ' | cut -d " " -f 10)
	# Using both permanent and not permanent rules to avoid a firewalld reload.
	firewall-cmd --zone=public --remove-port=$PORT/$PROTOCOL
	firewall-cmd --zone=trusted --remove-source={{ subnet }}/24
	firewall-cmd --permanent --zone=public --remove-port=$PORT/$PROTOCOL
	firewall-cmd --permanent --zone=trusted --remove-source={{ subnet }}/24
	firewall-cmd --direct --remove-rule ipv4 nat POSTROUTING 0 -s {{ subnet }}/24 ! -d {{ subnet }}/24 -j SNAT --to $IP
	firewall-cmd --permanent --direct --remove-rule ipv4 nat POSTROUTING 0 -s {{ subnet }}/24 ! -d {{ subnet }}/24 -j SNAT --to $IP
else
	IP=$(grep 'iptables -t nat -A POSTROUTING -s {{ subnet }}/24 ! -d {{ subnet }}/24 -j SNAT --to ' $RCLOCAL | cut -d " " -f 14)
	iptables -t nat -D POSTROUTING -s {{ subnet }}/24 ! -d {{ subnet }}/24 -j SNAT --to $IP
	sed -i '/iptables -t nat -A POSTROUTING -s {{ subnet }}\/24 ! -d {{ subnet }}\/24 -j SNAT --to /d' $RCLOCAL
	if iptables -L -n | grep -qE '^ACCEPT'; then
		iptables -D INPUT -p $PROTOCOL --dport $PORT -j ACCEPT
		iptables -D FORWARD -s {{ subnet }}/24 -j ACCEPT
		iptables -D FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
		sed -i "/iptables -I INPUT -p $PROTOCOL --dport $PORT -j ACCEPT/d" $RCLOCAL
		sed -i "/iptables -I FORWARD -s {{ subnet }}\/24 -j ACCEPT/d" $RCLOCAL
		sed -i "/iptables -I FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT/d" $RCLOCAL
	fi
fi
if sestatus 2>/dev/null | grep "Current mode" | grep -q "enforcing" && [[ "$PORT" != '1194' ]]; then
	semanage port -d -t openvpn_port_t -p $PROTOCOL $PORT
fi/
if {{ removeOpvpn }}; then
    if [[ "$OS" = 'debian' ]]; then
        apt-get remove --purge -y openvpn
    else
        yum remove openvpn -y
    fi
    rm -rf /etc/openvpn
    rm -f /etc/sysctl.d/30-openvpn-forward.conf
    echo
    echo "OpenVPN removed!"
fi
rm -rf /home/vpn
rm -f /home/$CLIENT.ovpn
echo
echo "/vpn/ and .ovpn file are removed"
exit
;;
