port {{ port }}
proto {{ protocol }}
dev tun
sndbuf 0
rcvbuf 0

# Config sécurité. ON N'EN A PAS BESOIN
ca /etc/openvpn/ca.crt
cert /etc/openvpn/server.crt
key /etc/openvpn/server.key
dh /etc/openvpn/dh.pem
#tls-auth ta.key 0

# cipher AES-256-CBC
cipher none #PAS DE CHIFFREMENT
# auth SHA512
auth none
mssfix 1440
tun-mtu 1470
topology subnet
server {{ subnet }} 255.255.255.0
ifconfig-pool-persist ipp.txt

txqueuelen 1000 # C'est une longue histoire

push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 1.1.1.1"
push "dhcp-option DNS 1.0.0.1"

keepalive 10 120
user nobody
group nogroup # /!\ Dans le oneliner, c'est "nobody" pour CentOS (si jamais la machine est sous CentOS?)
persist-key
persist-tun
status openvpn-status.log
verb 3
crl-verify crl.pem
